.first-h1{

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: fixed;
  top: -2px;
  font-size: 46px;
  font-weight: bold;
  color: black;
  margin-left: -960px;
  
}

.header{
  width: 250px;
  height: 95px;
  float: left;
  margin-top: -12px;
  background: url(../assets/Ford_SF.png);
  background-size: 250px ;
  position: fixed;
  margin-left: 970px;

}